# OpenRouter API
OPENROUTER_API_KEY=your_openrouter_key_here
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
MODEL_ID=meta-llama/llama-4-scout
OPENROUTER_SITE_URL=http://localhost:8003
OPENROUTER_APP_NAME=CV-Research-Agent


CV_AGENT_HOST=0.0.0.0
CV_AGENT_PORT=8003

CV_AGENT_PUBLIC_HOST=172.16.33.138

# Teammate A2A endpoints
ML_AGENT_URL=http://172.16.33.16:8004
NLP_AGENT_URL=http://127.0.0.1:8005
